html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* clear  */

.jumbotron {
  position: relative;
  background-image: url(img\ header\ main.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
  .main_logo {
  padding: 10px 150px;
  cursor: pointer;
  }

.sidetext {
  transform: rotate(270deg); 
  font: 12px "Open Sans", sans-serif; 
  font-weight: 600; 
  text-transform: uppercase; 
  color: #FFF;
  position: absolute;
  top: 50%;
}

.sidetext__txt--perfect {
  color: #b1c9d2;
}

.iPhone {
  position: absolute;
  height: 100%;
  top: 30%;
  left: 50%;
}

.main__title {
  margin-top: 300px;
  margin-left: 240px;
  padding-left: 15px;
  color: white;
}

.main_title_h1 {
  font: 60px "Open Sans", sans-serif;
}

.main_title_p {
  font: 15px "Open Sans", sans-serif;
}

/* The end header */

.all_something_new {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 50px;
  font-size: 17px;
  color: #959595;
}

.something_title {
  font-size: 40px;
  padding-left: 70px;
  color: #222626;
}

.something_subtitle_left {
  padding: 15px 70px;
}

.something_subtitle_right {
  padding: 15px 15px;
}
.something_right {
  padding-top: 120px;
}
