html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* clear  */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;

}
.jumbotron {
  position: relative;
  background-image: url(img\ header\ main.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
  .main_logo {
  position: absolute;
  cursor: pointer;
  top: 25px;
  }


.sidetext {
  transform: rotate(270deg); 
  font: 12px "Open Sans", sans-serif; 
  font-weight: 600; 
  text-transform: uppercase; 
  color: #FFF;
  position: absolute;
  top: 50%;
}

.sidetext__txt--perfect {
  color: #b1c9d2;
}

.iPhone {
  position: absolute;
  height: 100%;
  top: 30%;
  left: 50%;
}

.main__title {
  color: white;
}

.main_title_h1 {
  font: 60px "Open Sans", sans-serif;
}

.main_title_p {
  font: 15px "Open Sans", sans-serif;
}

/* The end header */

.all_something_new {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
  color: #959595;
  height: 500px;
}

.something_title {
  font-size: 40px;
  color: #222626;
  padding-bottom: 30px;
}

.something_subtitle_left {
  padding: 15px 0;
}

.something_subtitle_right {
  padding: 15px 0;
}
.something_right {
  padding-left: 30px;
  padding-top: 135px;
}

/* The end section start something new */

.main_galerry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: white;
  font: "Open Sans", sans-serif;
}

.design_quality {
  padding-bottom: 35px;
  font-size: 22px;
}

.main_text_main_galerry {
  padding-bottom: 40px;
}

.bottom_text_main_galerry {
  font-weight: bold;
}

.bottom_text_main_galerry_ {
  font-weight: bold;
  padding-top: 56px;
}

.main_text_main_galerry__ {
  padding-bottom: 24px;
}

.first_block {
  background-image: url(Rectangle1.png);
  width: 280px;
  height: 175px;
  padding: 50px 40px;
  position: relative;
}

.second_block {
  background-image: url(Rectangle2.png);
  width: 280px;
  height: 175px;
  padding: 50px 40px;
  position: relative;
}

.third_block {
  background-image: url(Box\ Small.png);
  width: 280px;
  height: 175px;
  padding: 50px 40px;
  position: relative;
}

.fourth_block {
  background-image: url(Rectangle4.png);
  width: 200px;
  height: 175px;
  padding: 50px 40px;
  position: relative;
}

.fifth_block {
  background-image: url(Box\ Large.png);
  width: 640px;
  height: 175px;
  padding: 50px 40px;
  position: relative;
}

.sixth_block {
  background-image: url(Rectangle6.png);
  width: 280px;
  height: 175px;
  padding: 50px 40px;
  position: relative;
}

.seventh_block {
  background-image: url(Box\ Large2.png);
  width: 200px;
  height: 175px;
  padding: 50px 40px;
  position: relative;
}

/* The end galerry */

.all__details {
  padding-top: 90px;
  padding-bottom: 90px;
}

.main_title_details {
  color: #9c9c9c;
  font-size: 29px;
  padding-bottom: 40px;
}

.details {
  display: flex;
  flex-direction: row;
}

.title_details {
  font-size: 18px;
  padding-bottom: 15px;
}

.subtitle_details {
  font-size: 15px;
  color: #9c9c9c;
  width: 240px;
  padding-right: 22px;
}

/* The end section details */

.all_img {
  background-image: url(Full\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.container__full_img {
  display: flex;
  align-items: center;
  min-height: 850px;
}

 .section_full_image {
  max-width: 500px;
  color: rgb(255, 255, 255);
  max-height: 0;
}
.title_img {
  font-size: 60px;
}

.subtitle_img {
  font-size: 17px;
  padding-top: 25px;
  padding-bottom: 20px;
} 

.footer_img {
  font-size: 16px;
}

/* Not end section more power img */

/* .section_reason_to_get {
  background-color: #82ca9c;
  padding-left: 320px;
} */